<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>  
<h1>Update Users</h1>
<form method="POST" action="/update/<%=updateUser._id%>?_method=PUT">
<input type="text"  name="name" value="<%=updateUser.name%>">
<input type="email" name="email" value="<%=updateUser.email%>">
<input type="tel"  name="phone" value="<%=updateUser.phone%>">
<button type="submit">Update</button>
</form>   
</body>
</html>
